.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    margin: 0 auto;
    background-color: #f8f9fa;
    box-shadow: 0 0 10px #7c7c7c;
    width: 100%;
}